.header-bar {
    position: sticky;
    top: 0;
    right: 0;
    height: 7vh;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 20px;
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
  }
  
  .gobackbtn {
    width: 8px;
    padding: 0;
    margin: 0;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  .header-title {
    font-size: 15px;
    color: #0f3d2b;
    font-family: "Pretendard-Bold";
    font-weight: 700;
    font-style: normal;
    font-size: 19px;
    line-height: 23px;
  }
  