


.review-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0F3D2B;
    max-width: 415px;
    height: 100dvh;
    margin-left: auto;
    margin-right: auto;
}

.review-write-box{
    display: flex;
    flex-direction: row;
    
    
    margin-top: 10px;

}
.write-input-box{
    font-family: "Pretendard";
    width: 246px;
    height: 40px;
    
}
form{
    display: flex;
    justify-content: center;
}

.write-upload-btn{
    font-family: "Pretendard";
    color: #FFFF;
    width: 84px;
    height: 40px;
    padding: 0;
    margin: 0;
    background: linear-gradient(360deg, #116846 0%, #358868 100%);
    border-radius: 0px 4px 4px 0px;
    border: 0;
}

.review-hr{
    margin-top : 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}



